@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var userViewhelper = (thanhhoa.gov.vn.Viewhelper.UserViewhelper)ViewData["userViewhelper"];
}

<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li class="active">
                    <i class="fa fa-user"></i> Quản trị Người dùng
                </li>
                <li class="active">
                    <i class="fa fa-list-alt"></i> Danh sách người dùng
                </li>
            </ul>
            <form class="bs-example form-horizontal" name="form" method="post"
                  action="index">
                <input type="hidden" name="direction" />
                @Html.Partial("_PartialErrMessage")
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group m-b-sm">
                                    <div class="col-lg-9">
                                        <label class="col-lg-2 control-label"
                                               style="padding-right: 0px; text-align: left;">
                                            Từ khóa
                                        </label>
                                        <div class="col-lg-9" style="padding-right: 0px;">
                                            <input id="keysearch" type="text"
                                                   class="form-control input-sm" placeholder="Từ khóa"
                                                   name="keySearch" value="@userViewhelper.KeySearch">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="pull-right">
                                            <button type="submit" id="btn_search" onclick="search();" style="font-weight: bold;"
                                                    class="btn btn-sm btn-s-sm btn-primary">
                                                <i class="fa fa-search"></i> Tìm kiếm
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger" style="font-weight: bold;"
                                                    onclick="clearAll();">
                                                <i class="fa fa-trash-o"></i> Xóa điều kiện
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row m-b-sm">
                    <div class="col-lg-12">
                        <select name="filterActive" id="filterActive" onchange="filter();" style="width: 180px;">
                            <option value="" @if (String.IsNullOrWhiteSpace(userViewhelper.FilterActive)) { @Html.Raw(" selected")  }>Lọc trạng thái (Tất cả)</option>
                            <option value="True" @if (!String.IsNullOrWhiteSpace(userViewhelper.FilterActive) && userViewhelper.FilterActive.Equals("True")) { @Html.Raw(" selected")   }>Hoạt động</option>
                            <option value="False" @if (!String.IsNullOrWhiteSpace(userViewhelper.FilterActive) && userViewhelper.FilterActive.Equals("False")) { @Html.Raw(" selected")    }>Ngừng hoạt động</option>
                        </select>
                        <div class="pull-right">
                            <a href="regist" style="font-weight: bold;"
                               class="btn btn-sm btn-s-sm btn-primary">
                                <i class="fa fa-plus"></i> Thêm mới
                            </a>
                        </div>
                    </div>
                </div>
                <section class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr style="background-color: #65bd77; color: white;">
                                    <th class="text-center" style="vertical-align: middle; width : 40px;">STT</th>
                                    <th class="text-center" style="vertical-align: middle;">
                                        Tài khoản
                                    </th>
                                    <th class="text-center" style="vertical-align: middle;">
                                        Họ và tên
                                    </th>
                                    <th class="text-center" style="vertical-align: middle;">
                                        Ngày sinh
                                    </th>
                                    <th class="text-center" style="vertical-align: middle;">
                                        Email
                                    </th>
                                    <th class="text-center" style="vertical-align: middle;">
                                        Chức vụ
                                    </th>
                                    <th class="text-center" width="14%" style="vertical-align: middle;">
                                        Trạng thái hoạt động
                                    </th>
                                    <th width="40px;" class="text-center" style="vertical-align: middle;">
                                        Sửa
                                    </th>
                                    <th width="40px;" class="text-center" style="vertical-align: middle;">
                                        Xóa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = (userViewhelper.Page - 1) * thanhhoa.gov.vn.Utility.Constant.limit + 1;
                                    if (userViewhelper.TotalCount > 0)
                                    {
                                        foreach (var item in userViewhelper.LstUser)
                                        {
                                            <tr>
                                                <td align="center">@i</td>
                                                <td>@item.username</td>
                                                <td>@item.family_name @item.first_name</td>
                                                <td>@item.birth_day</td>
                                                <td align="center">@item.email</td>
                                                <td>@item.gov_role.role_name</td>
                                                <td align="center">
                                                    @if (!item.active_flg)
                                                        {<div class="label bg-danger">@Html.Raw("<b>Ngừng hoạt động</b>")</div> }
                                                    
                                                </td>
                                                <td width="40px;" class="text-center" style="vertical-align: middle;">
                                                    <a href="edit?id=@item.username"><i class="fa fa-edit text-dark text" style="font-size : 15px;"></i></a>
                                                </td>
                                                <td width="40px;" class="text-center" style="vertical-align: middle;">
                                                    <a onclick="return confirm('Bạn có chắc chắn muốn xóa bản ghi này không?')" href="delete?username=@item.username"><i class="fa fa-times text-danger text" style="font-size : 15px;"></i></a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                        <footer class="footer bg-white b-t">
                            <div class="row text-center-xs">
                                <div class="col-md-4 hidden-sm">
                                    <p class="m-t" style="color: #2e3e4e;">
                                        Tổng số <strong>@userViewhelper.TotalCount</strong> dữ liệu
                                    </p>
                                </div>
                                <c:if test="${list.totalCount > 0}">
                                    <div class="col-md-4 hidden-sm">
                                        <p class="m-t" style="color: #2e3e4e; text-align: center;">
                                            Hiển thị trang <input type="text" size="5" name="page"
                                                                  value="@userViewhelper.Page" id="pageid"> / @userViewhelper.TotalPage
                                        </p>
                                    </div>
                                    <div class="col-md-4 col-sm-12 text-right text-center-xs">
                                        <ul class="pagination pagination-sm m-t-sm m-b-none m-r-xs">
                                            <li>
                                                <a href="javascript: direction('first');">
                                                    <i class="fa fa-step-backward"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript: direction('ahead');">
                                                    <i class="fa fa-backward"></i>
                                                </a>
                                            </li>
                                            @{
                                                for (int j = @userViewhelper.FirstPage; j <= userViewhelper.LastPage; j++)
                                                {
                                                    <li @if (j == userViewhelper.Page){@Html.Raw(" class='active'")}>
                                                        <a href="javascript: selectPage(@j);" >
                                                            @j
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            <li>
                                                <a href="javascript: direction('next');">
                                                    <i class="fa fa-forward"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript: direction('end');">
                                                    <i class="fa fa-step-forward"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </c:if>
                            </div>
                        </footer>
                    </div>
                </section>
            </form>
        </section>
        @Html.Partial("_PartialFooter")
    </section>
</section>

<script>
    $('#filterGuest').select2();
    $('#filterActive').select2();
    function direction(data) {
        document.form.direction.value = data;
        document.form.submit();
    }

    function selectPage(data) {
        document.form.direction = null;
        document.form.page.value = data;
        document.form.submit();
    }

    function clearAll() {
        $('#keysearch').val("");
    }

    function filter() {
        document.form.submit();
    }
</script>
