@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thêm mới văn bản pháp quy";
    var documentInfo = (thanhhoa.gov.vn.Models.gov_doc_draft)ViewData["documentInfo"];
}
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li class="active">
                    <i class="fa fa-file-text icon"></i> Quản lý văn bản
                </li>
                <li class="active">
                    <i class="fa fa-book"></i> Cập nhật văn bản pháp quy
                </li>
            </ul>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            @Html.Partial("_PartialErrMessage")
                            <form data-validate="parsley" class="form-horizontal" enctype="multipart/form-data" name="fdoc" method="post" action="SaveEdit">
                                
                                @{
                                    
                                    if (documentInfo != null) { 
                                        <h5 class="page-header m-t-xs" style="font-weight: 600;">
                                        <i class="fa fa-foursquare"></i> Cập nhật văn bản pháp quy
                                    </h5>
                                    <input hidden name="id" value="@documentInfo.id" />
                                    <input hidden name="attach_file_path" value="@documentInfo.attach_file_path" />
                                    <input hidden name="attach_file_name" value="@documentInfo.attach_file_name" />
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                Số ký hiệu <font color="red">*</font> :
                                            </span>
                                            <div class="col-lg-6">
                                                <input type="text" size="30" name="doc_code" class="form-control input-sm parsley-validated"
                                                       value="@documentInfo.doc_code"
                                                       data-required="true"
                                                       data-required-message="Trường Số ký hiệu không được để trống"
                                                       data-maxlength="200"
                                                       data-maxlength-message="Trường Số ký hiệu không được quá 200 ký tự" />
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                Tên văn bản:  <font color="red">*</font> :
                                            </span>
                                            <div class="col-lg-6">
                                                <input type="text" size="30" name="doc_name" class="form-control input-sm parsley-validated"
                                                       value="@documentInfo.doc_name"
                                                       data-required="true"
                                                       data-required-message="Trường Tên văn bản không được để trống"
                                                       data-maxlength="500"
                                                       data-maxlength-message="Trường Tên văn bản không được quá 500 ký tự" />
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                Trích yếu
                                            </span>
                                            <div class="col-lg-6">
                                                <textarea rows="4" name="doc_summany" cols="50" class="form-control input-sm">@documentInfo.doc_summany</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                Ngày ban hành :
                                            </span>
                                            <div class="col-lg-6">
                                                <input class="input-sm input-sm form-control" style="width: 276px;" name="date_start_promulgate" id="dateStartpromulgate"
                                                       type="text"
                                                       value="@Html.Raw(documentInfo.date_start_promulgate.ToString("yyyy/MM/dd"))" />
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                Người ký <font color="red">*</font> :
                                            </span>
                                            <div class="col-lg-6">
                                                <input type="text" size="30" name="user_sign" class="form-control input-sm parsley-validated"
                                                       value="@documentInfo.user_sign"
                                                       data-required="true"
                                                       data-required-message="Trường Người ký không được để trống"
                                                       data-maxlength="200"
                                                       data-maxlength-message="Trường Người ký không được quá 200 ký tự" />
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                File văn bản :  <font color="red">*</font> :
                                            </span>
                                            <div class="col-lg-6">
                                                <input type="file" name="File" id="File" />
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs m-t-md">
                                            <span class="col-lg-2 control-span m-l">
                                                Người tạo:
                                            </span>
                                            <div class="col-lg-4">
                                                 <strong><i>@documentInfo.entry_username</i></strong>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                Thời gian tạo:
                                            </span>
                                            <div class="col-lg-4">
                                                 <strong><i>@documentInfo.entry_datetime.ToString("dd/MM/yyyy HH:mm")</i></strong>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                Người cập nhật cuối:
                                            </span>
                                            <div class="col-lg-4">
                                                 <strong><i>@documentInfo.update_username</i></strong>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l">
                                                Thời gian cập nhật cuối:
                                            </span>
                                            <div class="col-lg-4">
                                                <strong><i>@documentInfo.update_datetime.ToString("dd/MM/yyyy HH:mm")</i></strong>
                                            </div>
                                        </div>
                                        <div class="line line-dashed line-lg pull-in"></div>
                                        <div class="form-group m-b-xs">
                                            <span class="col-lg-2 control-span m-l-md"></span>
                                            <div class="col-lg-6">
                                                <input type="submit" class="btn btn-sm btn-primary"
                                                       style="width: 90px;" value="Lưu" />
                                                <a href="index" class="btn btn-sm btn-danger"
                                                   data-dismiss="modal" style="width: 90px;">Hủy bỏ</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.Raw("<font color='red'><b>Văn bản không tồn tại, hoặc đã bị xóa!</b></font> Nhấn vào <a href='index' style='text-decoration: underline;'>đây</a> để quay lại");
                                    }
                                }
                                
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        @Html.Partial("_PartialFooter")
    </section>
</section>
<script>
    $('#departmentId').select2();
    $('#kindId').select2();

    $(document).ready(
		function () {
		    $('#dateStartpromulgate').datepicker({
			    format: "yyyy/mm/dd",
			    endDate: "new Date()",
			    todayBtn: true,
			    clearBtn: true,
			    autoclose: true,
			    todayHighlight: true
		    });

		    $('#dateStartpromulgate').change(function (e) {
		        $('#dateendpromulgate').datepicker("remove");
		        var find = '/';
		        var re = new RegExp(find, 'g');
		        var datestart = this.value.toString().replace(re, "-");
		        if (datestart == "")
		            datestart = "2014/01/01";
		        $('#dateendpromulgate').datepicker({
		            format: "yyyy/mm/dd",
		            startDate: datestart,
		            todayBtn: true,
		            clearBtn: true,
		            autoclose: true,
		            todayHighlight: true
		        });
		    });

		    $('#dateendpromulgate').datepicker({
		        format: "yyyy/mm/dd",
		        startDate: $('#dateStartpromulgate').val(),
		        todayBtn: true,
		        clearBtn: true,
		        autoclose: true,
		        todayHighlight: true
		    });

		    $('#dateendpromulgate').change(function (e) {
		        $('#dateStartpromulgate').datepicker("remove");
		        var find = '/';
		        var re = new RegExp(find, 'g');
		        var dateend = this.value.toString().replace(re, "-");
		        if (dateend == "" || dateend > new Date())
		            dateend = "new Date()";
		        $('#dateStartpromulgate').datepicker({
		            format: "yyyy/mm/dd",
		            endDate: dateend,
		            todayBtn: true,
		            clearBtn: true,
		            autoclose: true,
		            todayHighlight: true
		        });
		    });
		});
</script>