@{
    ViewBag.Title = "Danh sách câu hỏi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var lstAnswer = (List<thanhhoa.gov.vn.Models.AnswerModels>)ViewData["lstAnswer"];
    var questionId = (int)ViewData["questionId"];
    @functions {
        public String getDisp(String input, int count)
        {
            if (input == null)
            {
                return null;
            }
            if (input.Length > count)
            {
                int index = count;
                while (index < input.Length && input.ElementAt(index) != ' ')
                {
                    index++;
                }
                String titleReturn = (index == input.Length) ? input.Substring(0, index) : input.Substring(0, index) + " ... ";
                return titleReturn;
            }
            return input;
        }
    }
}

<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li>
                    <a href="index.html">
                        <i class="fa fa-file-text-o"></i> Danh sách câu hỏi
                    </a>
                </li>
                <li class="active">
                    <i class="fa fa-location-arrow"></i> Danh sách câu trả lời
                </li>
            </ul>
            <form class="bs-example form-horizontal" name="form" method="post"
                  action="changeStateAnswer">
                <input hidden name="questionId" value="@questionId" />
                <div class="row m-b-sm">
                    <div class="col-lg-12">
                        <select onchange="change(this.value);" name="state" id="slActive" style="width: 200px;">
                            <option value="" selected="selected" disabled>
                                Chuyển trạng thái thành
                            </option>
                            <option value="false">Hiển thị</option>
                            <option value="true">Không hiển thị (band) </option>
                        </select>&nbsp;
                        <a href="/admin/answer/regist?questionId=@questionId" style="font-weight: bold;"
                           class="btn btn-sm btn-s-sm btn-primary">
                            <i class="fa fa-plus"></i> Thêm mới câu trả lời
                        </a>
                        <a href="/admin/question/index" style="font-weight: bold;"
                           class="btn btn-sm btn-s-sm btn-danger">
                            <i class="fa fa-mail-reply"></i> Quay lại
                        </a>
                        <div class="pull-right">
                        </div>
                    </div>
                </div>
                <section class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr style="background-color: #65bd77; color: white;">
                                    <th class="text-center" style="vertical-align: middle; width: 40px;">
                                        <input type="checkbox" />
                                    </th>
                                    <th class="text-center" style="vertical-align: middle; width: 40px;">
                                        STT
                                    </th>
                                    <th class="text-center" style="vertical-align: middle;">
                                        Nội dung trả lời
                                    </th>
                                    <th class="text-center" style="vertical-align: middle;" width="15%;">
                                        Người trả lời
                                    </th>
                                    <th class="text-center" style="vertical-align: middle;" width="100px;">
                                        Thời gian
                                    </th>
                                    <th class="text-center" style="vertical-align: middle;" width="80px;">
                                        Hiển thị
                                    </th>
                                    <th width="40px;" class="text-center" style="vertical-align: middle;">
                                        Xóa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    foreach (var item in lstAnswer)
                                    {
                                        i++;
                                        <tr>
                                            <td align="center" width="40px"><input type="checkbox" name="checkID" id="ckCheckID" value="@item.Id"></td>
                                            <td align="center" width="40px">@i</td>
                                            <td>
                                                @{
                                        var str = getDisp(item.AnswerContent, 200);
                                        @Html.Raw(str)
                                        if (str.Length < item.AnswerContent.Length)
                                        {
                                            <i class="fa fa-search-plus text-primary text" style="cursor: pointer;" onclick="viewDetail(this, '@item.AnswerContent', event);"></i>
                                        }
                                                }
                                            </td>
                                            <td align="center">@item.AnswerUsername</td>
                                            <td align="center">@item.AnswerDatetime.ToString("dd/MM/yyyy") lúc @item.AnswerDatetime.ToString("HH:ss")</td>
                                            <td align="center">
                                                @if (item.HiddenFlg == false)
                                                {@Html.Raw("<i class='fa fa-check text-primary'></i>")}
                                            </td>
                                            <td width="40px;" class="text-center" style="vertical-align: middle;">
                                                <a onclick="return confirm('Bạn có chắc chắn muốn xóa bản ghi này không?')" href="delete?id=@item.Id"><i class="fa fa-times text-danger text" style="font-size : 15px;"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <footer class="footer bg-white b-t">
                            <div class="row text-center-xs">
                                <div class="col-md-4 hidden-sm">
                                    <p class="m-t" style="color: #2e3e4e;">
                                        Tổng số <strong>@i</strong> câu trả lời
                                    </p>
                                </div>
                            </div>
                        </footer>
                        <div class="popover fade right" id="viewdetail" style="display: none;">
                            <div class="arrow"></div>
                            <h3 class="popover-title">
                                <button type="button" onclick="hideDetail();"
                                        class="close pull-right" data-dismiss="popover">
                                    ×
                                </button>
                                Thông tin chi tiết
                            </h3>
                            <div class="popover-content">
                                <div class="scrollable" style="height: 150px;"></div>
                            </div>
                        </div>

                    </div>
                </section>
            </form>

        </section>
        @Html.Partial("_PartialFooter")
    </section>
</section>

<script>
    $('#slActive').select2();

    function change(data) {
        if (data != "") {
            document.form.submit();
        }
    }

    function hideDetail() {
        $("#viewdetail").css("display", "none");
        $('#viewdetail').removeClass('in');
        setTimeout(function () {
            $("#viewdetail").offset({
                left: 0,
                top: 0
            });
        }, 500);
    }

    function viewDetail(item, text, e) {
        $("#viewdetail").css("display", "block");
        $("#viewdetail").addClass("in");
        $("#viewdetail").offset({
            left: e.pageX + 20,
            top: e.pageY - 100
        });
        $("#viewdetail .scrollable").html(text);
    }
</script>
