@using thanhhoa.gov.vn.Utility
@using thanhhoa.gov.vn.Viewhelper
@{
    ViewBag.Title = "Danh sách điểm thi";
    var lstTestscore = (TestscoreViewhelper)ViewData["testscoreViewhelper"];
}
<link href="~/Content/sign-up.css" rel="stylesheet" />
<link href="~/Content/table.css" rel="stylesheet" />
<script src="~/Scripts/marquee.js"></script>
<link href="~/Content/hoidap.css" rel="stylesheet" />
<div class="mainMod">
    <div class="modLeftMain">
        <div class="breackrum">
            <a class="bkHome" href="/"><b>Trang chủ</b></a>
            <a href="javascript: void(0);"><b>Danh sách điểm thi</b></a>
        </div>
        <!--end breackrum-->

        <div class="modVanban">
            <h1 style="color: #003c95;">Danh sách điểm thi</h1>
            <div class="updateActi" style="margin-bottom: 15px;"></div>
            <form id="form1" name="form" action="index" method="post">
                <input type="hidden" name="direction" />
                <input type="hidden" name="page" />
                <div class="boxS2">
                    <div class="topbox">
                        <div class="borderleft">
                        </div>
                        <div class="borderright">
                        </div>
                    </div>
                    <div class="midbox">
                        <div class="detail_mid">

                            <table border="0" width="100%" cellpadding="5" cellspacing="5" style="margin: 0 auto">
                                <tbody>
                                    <tr>
                                        <td width="70px" align="left">
                                            Từ khóa:
                                        </td>
                                        <td align="center" colspan="3">
                                            <div class="input_l">
                                                <div class="input_r">
                                                    <input name="keySearch" type="text" value="@lstTestscore.KeySearch" class="input_style">
                                                </div>
                                            </div>
                                        </td>
                                        <td width="15%" align="center">
                                            <div class="btn_style fr">
                                                <input type="submit" value="Tìm kiếm">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="bottombox">
                        <div class="borderleft">
                        </div>
                        <div class="borderright">
                        </div>
                    </div>
                </div>
                <table class="cssTable" width="100%" cellspacing="0" cellpadding="0" style="margin-bottom: 10px;">
                    <tbody>
                        <tr class="cssTitle">
                            <td>Lớp môn học</td>
                            <td>Môn thi</td>
                            <td>Năm học</td>
                            <td>Kỳ thi</td>
                            <td>Ngày nhập</td>
                        </tr>
                        @{
                            if (lstTestscore.TotalCount > 0)
                            {
                                foreach (var item in lstTestscore.LstTestscore)
                                {
                                    <tr class="cssItems">
                                        <td align="center"><strong>@item.test_class</strong></td>
                                        <td><a href="@if((".jpg").Equals(item.file_format) || (".pdf").Equals(item.file_format)){ @Html.Raw("/Upload/DiemThi/" + item.attach_file_name)} else{@Html.Raw("/Testscore/Viewer?Doc=" + item.attach_file_name)}" target="_blank">@item.test_name</a></td>
                                        <td align="center">@item.namhoc</td>
                                        <td align="center">Kỳ @item.kythi</td>
                                        <td align="center">@item.entry_datetime.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
                <div class="pagingListnews">
                    <span style="float: left; padding-left: 1px;">Tổng số: <b style="color: red;">@lstTestscore.TotalCount</b> môn thi</span>
                    <a href="javascript: direction('ahead');">&larr;</a>
                        @for (int j = 1; j <= @lstTestscore.TotalPage; j++)
                        {
                            <a href="javascript: selectPage(@j);" @if (j == lstTestscore.Page) { @Html.Raw("class='act1'")      }>@j</a>
                        }
                    <a href="javascript: direction('next');">&rarr;</a>
                </div>
            </form>
        </div>
    </div>
    @Html.Partial("_PartialLeft")
    <div class="clear"></div>
</div>
<script>
    function direction(data) {
        document.form.direction.value = data;
        document.form.submit();
    }

    function selectPage(data) {
        document.form.direction = null;
        document.form.page.value = data;
        document.form.submit();
    }
</script>