@using thanhhoa.gov.vn.Utility
@using thanhhoa.gov.vn.Viewhelper
@using thanhhoa.gov.vn.Models
@{
    ViewBag.Title = "Chi tiết điểm thi";
    var testScoreInfo = (gov_testscore)ViewData["lstImages"];
}
<link href="~/Content/sign-up.css" rel="stylesheet" />
<link href="~/Content/table.css" rel="stylesheet" />
<script src="~/Scripts/marquee.js"></script>
<link href="~/Content/hoidap.css" rel="stylesheet" />
<div class="mainMod">
    <div class="modLeftMain">
        <div class="breackrum">
            <a class="bkHome" href="/"><b>Trang chủ</b></a>
            <a href="/testscore/index"><b>Danh sách điểm thi</b></a>
            <a href="javascript: void(0);"><b>Chi tiết điểm thi</b></a>
        </div>
        <!--end breackrum-->

        <div class="modVanban">
            <h1 style="color: #003c95;">Chi tiết điểm thi</h1>
            @{
                if (testScoreInfo != null)
                {
                    <div style="margin-bottom: 15px;"></div>
                    <p><strong>Lớp môn học:</strong> @testScoreInfo.test_class</p>
                    <p><strong>Môn học:</strong> @testScoreInfo.test_name</p>
                    <p><strong>Năm học:</strong> @testScoreInfo.namhoc</p>
                    <p><strong>Kì học:</strong> Kỳ @testScoreInfo.kythi</p>
                    <p><strong>Ngày nhập:</strong> @testScoreInfo.entry_datetime.ToString("dd/MM/yyyy")</p>
                    <div class="updateActi" style="margin-bottom: 15px;"></div>
                        foreach (var item in Utils.getFileInSplip(testScoreInfo.attach_file_name, ':'))
                        {
                            if (!String.IsNullOrWhiteSpace(item)) {
                                <img style="width: 100%;" src="/Upload/DiemThi/@item"/>
                            }
                        }
                    <p style="margin-top: 15px;"></p>
                }
            }
            
            <a id="lnkbackpage" href="http://fit.nuce.edu.vn/testscore/index"><img src="/Images/restore.gif" style="cursor:pointer; border=0">&nbsp;Trở về trang trước</a>
        </div>
    </div>
    @Html.Partial("_PartialLeft")
    <div class="clear"></div>
</div>
<script>
    function direction(data) {
        document.form.direction.value = data;
        document.form.submit();
    }

    function selectPage(data) {
        document.form.direction = null;
        document.form.page.value = data;
        document.form.submit();
    }
</script>